{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Emailsender</h1>
    <main>
        <div class = "sender">
            <h3>MADE BY AARUSHA</h3>
            <img src="{%static 'myimg.jpg'%}" alt="myimg" class="my-img">
        </div>

        <div class="reciever">
            <p>Send email to:</p>
            <label for="email"></label>
            <input type = "text" id = "email" name = "email">   

            <button onclick="sendemail()" class="send-button">Send</button>

            <p>Subject:</p>
            <label for="subject"></label>
            <input type = "text" id = "subject" name = "subject">

            <p>Message:</p>
            <label for="message"></label>
            <input type = "text" id = "message" name = "message">

        </div>

        <div id="color-change">
            <p class="situation">Nothing yet...</p>
        </div>

        <script>
            function changebg(color) {
                document.getElementById("color-change").style.backgroundColor = color;
            }
            function changetext(message)
            {
                document.getElementById("color-change").innerHTML = message;
            }
            function sendemail() {
                var reciever_email = document.getElementById("email").value;
                var subject = document.getElementById("subject").value;
                var message = document.getElementById("message").value;

                console.log("Receiver Email:", reciever_email);
                console.log("Subject:", subject);
                console.log("Message:", message);

                // Use Ajax to send a request to the server when the button is clicked
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{% url 'send_email' %}", true);
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // Add CSRF token
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhr.send(JSON.stringify({reciever_email: reciever_email, subject: subject, message: message}));
            }
        </script>
    </main>
</body>
</html>
